<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza-orders">Pizza Order</a>
      </li>
      <li>
        <a href="/pizza-orders/new">Create New Order</a>
      </li>

    </ul>
  </nav>
  <%= yield %>
</body>
</html>
