<form method="post" action="/pizza-orders">
  <label for="first-name">FIRST NAME:</label>
  <input type="text" name="first_name" id="first-name"/>

  <label for="last-name">LAST NAME:</label>
  <input type="text" name="last_name" id = "last-name"/>

  <label for="pizza-select">Select a pizza:</label>
    <select id="pizza-select" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Veg">Veg</option>
    </select>

  <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="quantity"/>

    <input type="submit" value="Order Pizza" />
</form>
